$max-mobile-width: "(max-width: 767px)";
$max-mobile-wrapper: 500px;

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1365px)";
$max-tablet-wrapper: 991px;

$min-desktop-width: "(min-width: 1366px)";
$max-desktop-width: "(max-width: 1920px)";
$max-desktop-wrapper: 1400px;

$min-4k-width: "(min-width: 1921px)";

$max-nav-width: "(max-width: 853px)";

$text-main-color: #fff;
$main-bg: #ffffff;
$title-color: #3f528c;

$links-color: #fff;
$links-color--hover: #0fefde;

$font-main: "proximanova", "Arial", sans-serif;

$text-alt-color: #0fefde;

$button-color: #0fefde;
$button-text-color: #004b45;

$layer-color: rgba(0, 223, 206, 0.3);

$invis-text: #575757;

$placeholder-color: #cacaca;